//----------------------------------------
//  Mixins
//----------------------------------------

/// Set an SVG color
///
/// @param {Color}  $width
@mixin svg-color ($color, $secondaryColor: '#FFFFF') {
  :deep(.fill),
  :deep(.stroke) {
    transition: .5s all;
  }

  :deep(.fill) {
    fill: $color;
  }

  :deep(.stroke) {
    stroke: $color;
  }

  :deep(.fill2) {
    fill: $secondaryColor;
  }

  :deep(.stroke2) {
    stroke: $secondaryColor;
  }

}

/// Set the elevation using a box-shadow
///
/// @param {string}  $elevation
@mixin elevation ($elevation) {
  @if $elevation == '1dp' {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .20);
  } @else if $elevation == '3dp' {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .20);
  }
}
